<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/genres/sidebar', genres: @genres %>
      <%= render 'public/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <%= render 'index', {comics_each: @comics_each, site: @site } %>
      <%= paginate @comics_each %>
    </div>
  </div>
</div>