<% review.comments.each do |comment| %>
  <div class="accordion_header">
    <%= link_to admin_comment_path(comment) do %>
      <h6><%= comment.customer.nickname %>さんのコメント</h6>
    <% end %>
    <div>
      <p class="align-content-center"><%= comment.body %></p>
      <% if comment.is_publishing == false %>
        <div class="float-right">
          <p class="text-success"><strong>非公開</strong></p>
        </div>
      <% elsif comment.is_reported == true %>
        <div class="float-right">
          <p class="text-danger"><strong>通報されています</strong></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>