<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <%= render 'index', {comics_each: @comics_each, site: @site } %>
      <div class="text-center mt-3 mb-5">
        <%= paginate @comics_each %>
      </div>
    </div>
  </div>
</div>