  <% review.comments.each do |comment| %>
    <div class="accordion_header row">
      <h6><%= comment.customer.nickname %>さんのコメント：</h6>
      <div class="col-8">
        <p class="align-content-center"><%= comment.body %></p>
        <% if comment.customer_id != current_customer.id %>
          <div class="float-right">
            <%= link_to "コメントを報告する", confirm_reported_comic_review_comment_path(review.comic_id, review, comment.id), class:"small"  %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>