<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <div class="row">
        <h3 class="col-lg-12　text-center bg-side"><%= @customer.nickname %>さんの編集</h3>
      </div>
      <%= render 'edit', customer: @customer %>
    </div>
  </div>
</div>
