<div class="mt-3 mb-2">
  <table class="table table-borderless table-hover text-center">
    <thead class="table-active">
      <tr>
        <th class="h5 font-weight-bold rounded-pill">ジャンル一覧</th>
      </tr>
    </thead>
    <tbody class="side">
      <% genres.each do |genre| %>
      <tr>
        <td class="rounded-pill">
          <%= link_to admin_comics_path(genre_id: genre.id), class: "text-dark" do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>