<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>平均</th>
      <th>レビュー数</th>
    </tr>
  </thead>
  <tbody>
    <% favorites.each do |favorite| %>
    <tr>
      <td>
        <%= link_to comic_path(favorite.comic_id) do %>
        <%= favorite.comic.title %>
        <% end %>
      </td>
      <td>
        <% unless favorite.comic.reviews.empty? %>
          <i class="fas fa-star" aria-hidden="true" style="color: #E4BC7F;"></i><%= favorite.comic.reviews.average(:evaluation).round(1) %>
        <% else %>
          レビューなし
        <% end %>
      </td>
      <td><%= favorite.comic.reviews.count %>件</td>
    </tr>
    <% end %>
  </tbody>
</table>