<div id="review_<%= review.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#review_<%= review.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "image-url('star-on.png')",
    starOff: "image-url('star-off.png')",
    starHalf: "image-url('star-half.png')",
    score: "<%= review.evaluation %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>