@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header{
  background-color:#494544;
}

body{
  background-color:#f7f3e9;
}

a, strong, h1, h3, h4, h5{
  color:#494544;
}

a:hover{
  color:#8b272b;
}

.rank, .login, .guest{
  color:#c41a30;
}

td{
  border-collapse: collapse;
  border-bottom: 1px #c39c89 solid ;
}

th{
  background-color:#bac8c6;
  color:#494544;
  border-bottom: 1px #c39c89 solid ;
}

tr, .confirm{
  background-color:#e6dfcb;
}

.table-active th, .bg-side, .bg-side strong{
  color:#E4BC7F;
  background-color:#494544;
  border: none;
}

.side tr{
  background-color:#f7f3e9;
  border: none;
}

.navbar-dark .navbar-nav .nav-link, .welcome{
  color:#bac8c6;
}
.spoiler-true, a.reported.small {
  color:#c41a30;
}

.spoiler-false{
  color:#7f5072;
}

.btn-outline-primary, .btn-outline-info, .btn-outline-success, .btn-outline-danger{
  background-color:#f5f3f2;
}

.aleart{
  background-color:#c41a30;
}

/*====================================================================
.s_07 .accordion_one
====================================================================*/
.s_07 .accordion_one {
  max-width: 1024px;
  margin: 0 auto;
}
.s_07 .accordion_one .accordion_header {
  border-bottom: 1px solid #c39c89;
  padding: 30px 5%;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
}
.s_07 .accordion_one .accordion_header:hover {
  opacity: .8;
}
.s_07 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 3%;
  width: 40px;
  height: 40px;
  border: 1px solid #c41a30;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}
.s_07 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}
.s_07 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.s_07 .accordion_one .accordion_header .i_box .one_i:before, .s_07 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #c41a30;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}
.s_07 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.s_07 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}
.s_07 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.s_07 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  box-sizing: border-box;
}
.s_07 .accordion_one .accordion_inner .box_one {
  height: 300px;
}
.s_07 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

.s_07 .accordion_inner .accordion_one .accordion_header{
  background-color: #e6dfcb;
}

.title{
  height:20px;
  background-color:#bac8c6;
}

@media screen and (max-width: 1024px) {
  .s_07 .accordion_one .accordion_header {
    font-size: 18px;
  }
  .s_07 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
@media screen and (max-width: 767px) {
  .s_07 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
}

