<h6><strong>タグ一覧</strong></h6>
<div class="d-flex flex-wrap">
<% @tags.each do |tag| %>
  <div class="mr-2">
    <%= link_to comics_path(tag_id: tag.id), class: "text-dark" do %>
      <strong><i class="fas fa-tag"></i><%= tag.name %></strong>
    <% end %>
  </div>
<% end %>
</div>