<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/genres/sidebar', genres: @genres %>
      <%= render 'public/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <%= render 'index', {comics: @comics, comics_all: @comics_all, genre: @genre, tag: @tag} %>
      <div class="d-flex justify-content-center mt-3 mb-5">
        <%= paginate @comics %>
      </div>
    </div>
  </div>
</div>