<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/genres/sidebar', genres: @genres %>
      <%= render 'public/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <div class="row">
        <h3 class="col-lg-12　text-center bg-side">新規コミック登録</h3>
      </div>
      <%= render 'public/comics/form', {comic: @comic, having_comic: @having_comic } %>
    </div>
  </div>
</div>
